*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins', serif;
}

.limita-secao{
  max-width: 1024px;
  text-align: center;
  padding: 100px 0;
  margin: 0 auto;
  width: 100%;
}

@media(max-width:1124px){
  .limita-secao{
    padding: 0 15px;
  }
}
